* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn-container {
  height: 60px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #191506;
  background-color: #fffbeb;
  overflow-x: hidden;
}

.review {
  width: 60rem;
  margin: 20vh auto;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  row-gap: 1.5rem;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  padding: 2rem;
}

.img-container {
  justify-self: center;
}

img {
  justify-self: center;
  height: 150px;
  width: 150px;
  border-radius: 10000px;
}

.member {
  justify-self: center;
  font-size: 2.5rem;
}

.job {
  justify-self: center;
  font-size: 1.8rem;
}

.info-cont {
  height: 5rem;
}

.info {
  justify-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-size: 1.6rem;
}

.btn-container {
  margin-top: 2rem;
  justify-self: center;
  height: 3rem;
}

.icon {
  height: 30px;
  width: 30px;
}

.btn-cont {
  justify-self: center;
}
