* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn-container {
  height: 60px;
}

html {
  font-size: 62.5%;
}

.review {
  width: 80rem;
  margin: 20vh auto;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  row-gap: 2rem;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  padding: 2rem;
}

.member {
  justify-self: center;
}

.img-container {
  justify-self: center;
}

img {
  justify-self: center;
  height: 150px;
  width: 150px;
  border-radius: 10000px;
}

.job {
  justify-self: center;
}

.info-cont {
  height: 5rem;
}

.info {
  justify-self: center;
  margin-left: 12rem;
  margin-right: 12rem;
  text-align: center;
}

.btn-container {
  justify-self: center;
  height: 3rem;
}

.icon {
  height: 30px;
  width: 30px;
}

.btn-cont {
  justify-self: center;
}
